body{
    background-color: skyblue;
    font-size: 1.6rem;
}
.container{    
    justify-content: center;    
}
.appHeader, .appMain{
    width:1000px;
}
.appNavigation, .appFooter{
    width:100%;
}
.appMain{
    justify-content: space-between;
}
.book{
    width: 320px;
}
.news{
    width:660px;
}
.board{
    width:320px;
}
.favorite{
    width:220px;
    order:1;
}
.twitter{
    width:420px;
}