/* COMMON STYLE */
/* LINK STYLE */
a{
    text-decoration: none;
    color:inherit;
}
/* BOX MODEL RESET */
body, body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* COMMON LAYOUT */
.container, .appMain{
    display: flex;    
    flex-flow: row wrap;
}
/* LOGO */
.brand a{
    display:block;
}
/* MEMBER SERVICE */
.memberOnly{    
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-end;        
}
.memberOnly li{
    display: flex;
    padding: 5px 0;    
    align-items: center;
}
.memberOnly li:last-child{
    margin-right: -0.715em;
}
.memberOnly a{    
    padding:0.5em 0.715em;    
}
/* SEARCH FORM */
input[name="search"]{
    border:1px solid #aaa;
    border-radius: 5px;
    height:35px;
    margin-right: 5px;
    padding-left: 1em;    
    
}
/* .appHeader{    
    display: flex;
    flex-flow: row wrap;       
    align-items: center;
}
.brand, .memberOnly, .searchForm{
    margin: 0 10px;
}
.brand, .searchForm{    
    background: #55330d;
}
.brand{
    width:100%;
}
.memberOnly{    
    display:flex;
    width:100%;
    order:-1;
    justify-content: flex-end;    
    background:burlywood;
}
.searchForm{    
    width: 100%;
} */
