@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* 기본 박스 사이징 재설정 (width에 border-width와 padding을 설정 */
*, *::before, *::after {
    box-sizing: border-box;
}
/* HIDDEN CONTENT */
.a11y-hidden {    
    position: absolute;
    width:1px;
    height:1px;
    overflow: hidden;
    margin:-1px;
    clip:rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 숨김 콘텐츠 */
.readable-hidden, legend{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
  }
/* CSS MODULE */
/* float issue solved CSS */
.clearfix::after {
    content:"";
    display:block;
    clear:both;
}
/* COMMON SETTING */
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    color: #181818;
    background-color: #ccc;
    background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
    font-family:  'Spoqa Han Sans', 'Sans-serif';
    font-weight: 300;
}
/* CONTAINER */
.container {    
    background:url(./images/bg_flower.png) no-repeat 50% 0;
    
}
.header, .visual, .main, .slogan, .footer {    
    width:940px;
    margin:0 auto;
}
.header {
    background-color: #ffffff;    
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
    position: relative;
}
/* LOGO */
.logo {    
    margin: 0;    
    position: absolute;
    top:47px;
    left:62px;
    /* z-index: 10; */
}
/* MEMBER LINK */
.member {    
    margin: 0;
    padding: 2px 0;
    list-style-type:none;
    text-align: right;   
    font-size: 0; 
    position: relative;
    right: -10px;
}
.member li, .member a {
    display: inline-block;
}
.member li {        
    font-size: 1.4rem;  
}
/*
.member li::before {
    content:":";
    font-size:16px;
} 
.member .bar-none::before {
    content:"";
} */
.member li:nth-child(n+2)::before {
    content: ":";
    margin: 0 2px;
}
.member a{
    text-transform: uppercase;
    padding: 10px;        
}
/* MAIN MENU */
.navigation {    
    padding-bottom: 50px;
}
.menu {    
    height: 47px;
    list-style-type: none;
    padding-left: 229px;
    margin: 0;
    background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    background-color: #ed552f;
    border-top: 2px solid #000;
    /* box-shadow: 0 -10px 0 0 #000; */
}
/* .menu-item:nth-child(1) {
    margin-left:225px;
} */
.menu-item {
    /* background-color: skyblue; */
    outline: 0;
    float: left; 
    border-left:2px solid rgba(255, 255, 255, .3);     
    position: relative;
}
.menu-button {
    cursor: pointer;
    color:#fff;
    font-weight: 700;
    font-size: 1.6rem;
    display: block;
    line-height: 45px;         
    padding: 0 20px;
    text-shadow:
     1px 0 0 #181818,
     -1px 0 0 #181818,
     0 1px 0 #181818,
     0 -1px 0 #181818;    
}
.menu-act .menu-button{
    color:#ff0;    
}
.menu-act .menu-button::after {
    content:"";    
    display: block;    
    border-top: 2px solid #181818;
}
.sub-menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    display:none;    
    white-space: nowrap; 
    top:47px;           
}
.menu-act .sub-menu{    
    display: block;
}
.menu li:nth-child(-n+3) .sub-menu{
    left:0;
}
.menu li:nth-child(n+4) .sub-menu{
    right:0;
}
.sub-menu li, .sub-menu a {
    display:inline-block;
}
.sub-menu a {
    padding: 8px 10px;
    
}
.sub-menu a:hover {
    color:red;
}
.sub-menu a:hover::before {    
    content: "\e800";
}
/* VISUAL */
.visual {
    /* background-color: lime; */
    height: 120px;
    /* background-color: yellow;
    background-image: url(./images//ani_flower_01.png),
    linear-gradient(red, green);
    background-repeat: no-repeat, repeat;
    background-position: 30px 40px, 0 0;
    background-attachment: scroll, fixed;
    background-size: 100% 100% , 100px 100px;
    background: url(./images/ani_flower_01.png) no-repeat 
    30px 40px /100% 100% scroll, linear-gradient(red, green) repeat
    0 0/ 100% 100% fixed;
    background-color: yellow; */
    position: relative;
}
@keyframes textAni {
    0%{
        font-size: 12px;
        color:rgba(0, 0, 0, 0);        
        transform: translate(0,0);
    }
    100% {
        font-size:24px;
        color:rgba(0, 0, 0, 1);        
        transform: translate(400px, 75px);
    }
}
.visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:inline-block;
    /* background-color: yellow; */
    animation: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-delay: 1500ms;
    color:rgba(0, 0, 0, 0);    
}
@keyframes bgAni {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.visual::before, .visual::after {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: bgAni 2s infinite alternate;
}
.visual::before {
    background-image:
    url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);   
    background-position: 0 -10px, 670px 0;
}
.visual::after {    
    background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
}

.main{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 450px;
    padding: 30px 15px;
    background-color: #fff;
    /* padding: 30px 15px; */
    border-radius: 15px 15px 0 0;
  }
  .group{
    /* float: left;
    height: 60vh;
    margin: 0 15px; */
  }
  .group1{
    width: 250px;
  }
  .group2{
    width: 380px;
  }
  .group3{
    width: 190px;
  }
  /* 로그인 */
  .login{
    background-color: #ed552f;
    background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
    box-shadow: 5px 5px 0 0 #aaa;
    border-radius: 5px;
    padding: 10px;
  }
  .login-heading{
    margin: 0;
    font-size: 1.5rem;
    color: #ff0;
    text-indent: 10px;
  }
  .login-form{
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
  }
  .login-form fieldset{
    position: relative;
    border: 0 none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
  }
  .user-email, .user-pw{
    margin-bottom: 5px;
  }
  .login-form label{
    width: 4em;
    display: inline-block;
  }
  .login-form input{
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
  }
  .btn-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ed552f;
    border-radius: 3px;
    background-color: #e8852e;
    color: #fff;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .sign{
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2px 10px;
    font-size: 1.3rem;
  }  
  .sign .icon-right-open::before{
    color: #ed552f;
    margin: 0;
  }
  .sign a{
    display: inline-block;
    padding: 8px 0;
  }
  /* 유효성 검사 */
.validation-list {
    list-style: none;
    padding:0;
    margin:20px 0 0;  
    
    
}
.validation-list li {    
    display:block;
    margin-bottom: 15px;                
}
.validation-list a {
    /* padding-left: 38px; */
    display:block;    
    padding: 10px 10px 10px 45px;
    background: url("../css/images/validation_icon.png") no-repeat 8% 50%,
     #ccc linear-gradient(180deg, #bbb, #eee);
    border-radius: 30px;
    
}
/* 웹 관련 용어 */
.term {    
    border:1px solid #aaa;
    border-radius: 5px;
    background: tomato;
    margin-top:20px;
    background:#ccc linear-gradient(180deg, #bbb, #eee);
    padding: 15px;
}
.term-heading {
    margin: 0 0 15px 0;
    font-size:1.6rem;    
}
.term-list {
    margin: 0;
    /* background: aqua; */
    /* overflow: hidden; */
}
.term-list dd {
    margin:0;
}
.term-list::after {
    content:"";
    display:block;
    clear:both;

}
.term-list-subject, .term-list-brief {
    float: right;
    width: 145px;
}
.term-subject {        
    color: #296897;  
    font-weight: 400;            
}
.term-list-thumbnail {             
    /* background: lime; */
    float:left;    
}
.term-list-thumbnail img {
    vertical-align: top;
}
.term-list .term-list-brief {  
    /* background: yellow;  */
    margin:5px 0 15px;
    line-height: 1.6;    
} 
/*  */
.term-list-subject2, .term-list-brief2 {
    float: left;
    width: 145px;
}
.term-subject2 {        
    color: #296897;  
    font-weight: 400;            
}
.term-list-thumbnail2 {             
    /* background: lime; */
    float:right;    
}
.term-list-thumbnail2 img {
    vertical-align: top;
}
.term-list .term-list-brief2 {  
    /* background: yellow;  */
    margin-top:5px;
    line-height: 1.6;
} 
.group2 {
    /* background-color: skyblue; */
    width:380px;    
}
/* SEARCH */
.search-form {    
    background:  #ccc linear-gradient(180deg, #bbb, #eee);
    /* display: flex; */
    border:1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;   
    padding:15px 25px 10px;
}
.search-form fieldset {      
    border: 0;
    padding: 0;
    margin: 0;
    
}
/* .search-form div {      
    border: 0;
    padding: 0;
    margin: 0;
    display:flex;


    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
} */
.search-form input[type="search"] {
    width:200px;
    margin:0 1px;
    padding: 1px 1px 1px 0.4em;
}
.search-form label, .search-form input[type="search"], .btn-search {
    vertical-align: middle;
}
.search-form input[type="search"], .btn-search {
    height:24px;
    border:1px solid #aaa;
    border-radius: 3px;    
}
.btn-search {
    color:#fff;
    background-color: #333;
    padding:0 8px;
    font-size: 1.2rem;
}
.group3 {    
    width:190px;    
}
/* NOTICE, PDS */
.board {
    /* background-color: yellow; */
    width:380px;
    position: relative;
    padding-top:45px;
    margin-bottom: 30px;
}
.notice-list, .notice-more, .pds-list, .pds-more {
    display:none;
}
.board-act .notice-list, .board-act .notice-more,
.board-act .pds-list, .board-act .pds-more {
    display:block !important;
}
.tab {
    font-weight: 400;
    margin:0;
    font-size:1.4rem;
    position: absolute;
    top:0;
}
.tab a {
    display:block;
    border:1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #888;
    background:#ccc linear-gradient(180deg, #bbb, #eee);
    padding: 8px 10px;
}
.board-act .tab a {
    color:#ed552f;
    background: #fff;
    border: 1px solid #ed552f;
}
.notice-heading {
    left:0;
}
.pds-heading {
    left:73px;
}
.notice-list, .pds-list {
    /* background-color: pink; */
    margin:0;
    padding-left:0;
    list-style: none;
}
.notice-list li, .pds-list li {
    /* background-color: orange; */
    margin-bottom:8px;
    /* overflow: hidden; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.notice-list li::before, .pds-list li::before {
    /* float:left; */
    /* background-color: tomato;     */
}
.notice-list a, .pds-list a {
    /* background-color: lime; */
    /* float: left;
    width:285px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}
.notice-list time, .pds-list time {
    /* background-color: skyblue; */
    /* float: right; */
    /* margin-left: auto; */
}
.notice-more, .pds-more {
    position: absolute;
    top:0;
    right:0;
    padding: 8px;
}
.notice-more .icon-plus, .pds-more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
}
.board ul, .board a[class$="-more"] {

}
/* .board {
    background: tomato;
    width:380px;
    position: relative;          
}
.board h2{
    display:inline-block;
    margin:0;
    border: 1px solid #444;
}
.board h2>a {
    display:block;
    padding: 5px 10px;
    

}
.board ul {
    list-style-type: none;
    padding:0;
}
.board li a {
    display:inline-block;
    width:280px;
    overflow: hidden;
}
.pds h2 {
    position: absolute;
    top:0;
    left:100px;
}
.board>section>a {
    position: absolute;
    top:0;
    right:0;
    padding:10px 10px;
} */
/* NEWS */
/* .news {
    position: relative;
}
.news-heading {
    margin:10px 10px 0 10px;    
    padding-bottom: 20px;    
    width:300px;
    border-bottom: 1px solid rgb(187, 187, 187);
    color:#ed552f;
    font-size: 1.5rem;
}
.news-link {
    display:block;
}
.news-item {    
    padding-top:30px;
    margin-left:10px;
}
.news-item-subject, .news-item-date, .news-item-brief {
    float:right;
    width:240px;
}
.news-item-subject {    
    margin:0;
    padding-bottom: 5px;
}
.new-tiem-date {
    
}
.news-item-brief {
    line-height: 1.6;
}
.news-item-thumbnail {
    margin:0;    
    width:120px;
}
.news-item-thumbnail figcaption {
    margin: 17px;
    display:inline-block;
}

.news-more {
    position: absolute;
    top:0px;
    right:0px;
    padding: 10px 8px;
}
.news-more span {
    color:green;
} */
.news {
    position: relative;
}
.news::before {
    content: "";
    position: absolute;
    background:#ccc linear-gradient(90deg, #bbb, #fff);
    width: 80%;
    height: 1px;
    top:35px;
    left:0;
}
.news-heading {
    color:#ed552f;
    font-size: 1.5rem;
    margin: 0 0 35px 0;
    /* background: skyblue; */
}
.news-link {
    display:block;
    /* background: pink; */
}
.news-item {
    padding-left:125px;
    position: relative;
    min-height:100px;
}
.news-item-subject {
    margin:0 0 5px 0;
    font-size: 1.4rem;
    font-weight: 400;
}
.news-item-brief{
    margin: 10px 0 0 0;
    line-height: 1.6;
}
.news-item-thumbnail {
    /* background: lime; */
    margin:0;
    position: absolute;
    top: 0;
    left: 0;
    text-align:center;
}
.news-item-thumbnail img {
    box-shadow: 0 15px 20px 2px #aaa;
    display:block;
    margin-bottom: 15px ;
}
.news-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.news-more .icon-plus {
    color:green;
}
/* 신규 이벤트 및 관련 사이트 */
.gradient-box {
    background: #ccc linear-gradient(180deg, #bbb, #eee);
    border:1px solid #aaa;
    border-radius: 5px;
    padding:10px;
}
.point-color {
    color:#ed552f;
}
.event {    
    position: relative;   
    border-bottom: 1px solid #777; 
}
.event-heading, .related-heading {
    margin:0 0 10px 0;
    font-size:1.5rem;
}
.event-thumbnail, .event-brief {
    margin:10px 0;
}
.event-thumbnail img{
    box-shadow: 5px 5px 0 0 #999;
    border:1px solid #777;
    
}
.btn-event{
    /* background: yellow; */
    position: absolute;
    top:0;
    right:0;
}
.btn-event-prev, .btn-event-next {    
    cursor: pointer;
    width:19px;
    height: 18px;
    border:0;
    padding:18px 0 0 0;
    overflow: hidden;    
    background-image: url("./images/back_forward.png");
    display: inline-block;
}
.btn-event .btn-event-prev {            
    background-position: 0 0;
}
.btn-event .btn-event-next {
    background-position: 100% 0;
}
.related {
    margin-top: 10px;
}
.related-list {
    margin:0;
    padding-left:0;
    list-style: none;
    border: 1px solid #888;
    border-radius: 5px;
    background: #fff;
    height: 27px;
    overflow: hidden;    
    transition-property: height, padding;
    transition-duration: 400ms;
    transition-delay: 200ms, 0ms;
    transition-timing-function: ease-in-out;
}
.related-list a {
    display:block;
    line-height: 20px;
    text-indent: 1em;
    font-weight: 500;
    padding:2px;
}
.related-list:hover, .related-list:focus{
    height: 147px;
    padding: 10px 0;    
}
/* .related-heading {
    font-size: 1.5rem;
}
.related-list {
    list-style: none;
    margin:0;
    padding:0;
    background: #fefefe;
    border: 1px solid #777;
    border-radius: 3px;
    height:27px;
    overflow: hidden;
}
.related-list:hover { 
    overflow:none;
    height: 147px;
    transition-duration: 700ms;
}
.related-list a {
    display:block;
    padding: 5px 5px 5px 15px;
    font-weight: 500;
} */
/* FAVORITE */
.favorite{
    margin-top:20px;
    position: relative;
}
.favorite-heading { 
    margin:0;
    font-size: 1.5rem;    
}
.favorite-list{
    padding-left:0px;
    list-style: none;
}
.favorite-list li{
    counter-increment: number;
    line-height: 1.5;
    margin-top:5px; 
    position: relative;
}
.favorite-list li::before{
    content: counter(number);
    display: inline-block;
    color:#fff;
    background: #888;
    border-radius: 4px;
    padding:2px 8px;
    font-size: 1.2rem;  
    font-weight: 500;
    margin-right: 5px;  
    /* content: attr(class); */
}
.favorite-list em{
    display:inline-block;
    width: 9px;
    height: 11px;
    margin-top:-5px;
    padding-top:11px;
    overflow: hidden;
    background: url("./images/rank.png") no-repeat; 
    position: absolute;       
    top:50%;
    right:0;
}
.favorite-list .stop{
    background-position: 0 50%;
}
.favorite-list .down{
    background-position: 0 100%;
}
.favorite-more{
    position: absolute;
    top:2px;
    right:2px;
    padding:8px;
}
.favorite-more .icon-plus {
    color:hsla(110, 50%, 30%, 1);
}
/* .favorite{
    margin-top:20px;
}
.favorite-heading {
    margin:0;
    font-size: 1.5rem;    
}
.favorite-list {
    padding-left:10px; 
    position: relative;    
    
}
[class^="no"]::before{    
    padding:5px; 
    background: #ed552f;    
}
.favorite-list em{
    position: absolute;
    width:9px;
    height:11px;              
}
.up, .down, .stop {
    float:right;
}
.up {
    background-image: url("./images/rank.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.down {
    background-image: url("./images/rank.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.stop {
    background-image: url("./images/rank.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
} */
/* SLOGAN */
.slogan{
    background: #fff;    
    padding: 10px 80px 10px 200px;
    position: relative;
}
.slogan-heading{        
    margin:0;
    width: 110px;
    height: 83px;
    line-height: 83px;
    position: absolute;
    left:50px;
    bottom: -25px;
    text-align: center;
    font-size: 1.4rem;    
}
.txt-slogan, .bg-slogan{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url("./images/coffee.png") no-repeat;
}
.slogan-content{
    color:#a09784;
    font-size:1.5rem;
}
.slogan-content q::before{
    font-size: 3.5rem;
    position: relative;
    top:10px;
}
.slogan-content q::after{
    content: "";
}
.slogan-content em{
    font-style: normal;
}
/* .slogan {  
    position: relative;
}
.bg-slogan{
    position: absolute;
    background: url("./images/coffee.png") no-repeat;  
    width:150px;
    height: 150px;
    top:30px;
    left:20px;
}
.txt-slogan{
    position: absolute;
    width:1px;
    height:1px;
    overflow: hidden;
    margin:-1px;
    clip:rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
.slogan-content{
    width:650px;
    margin: 0 auto;
    padding: 20px 0 10px;
    line-height: 1.4;    
    color:#a09784;
}
.slogan-content q::before, .slogan-content q::after{
    font-size: 20px;
    font-weight: 600;
} */
/* FOOTER */
.footer-bg {
    background-color: #ccc;
    background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
}
.footer{
    padding: 10px 0;    
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 50px 25px 25px;
}
.footer-logo{
    grid-area: 1/1/4/2;
    justify-self: center;
    align-self: center;
}
.guide-list{
    margin:0;
    padding-left:0;
    list-style: none;
    display:flex;
    background: #7b8385;
    color:#fff;
    grid-area: 1/2/2/3;
    justify-content: space-between;
    padding: 8px 30px;
    margin: 5px 0;
    border-radius:30px;
    align-items: center;    
    text-transform: uppercase;
}
.address{
    grid-area: 2/2/3/3;
    font-style: normal;
    align-self: center;
}
.copyright{
    grid-area: 3/2/4/3;
    align-self: center
}
.badge{
    grid-area: 1/3/4/4;
    justify-self: right;
    align-self: center;
}
/* .footer-bg {
    background-color: #ccc;
    background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
}
.footer {
    padding-top: 10px;
    padding-left: 50px;
    position: relative;
    text-align: center;
}
.footer-logo{
    position: absolute;    
    top:35px;
    left:70px;
    
}
.guide-list{
    padding:2px 0;
    margin:0;
    display: inline-block;
    background: #7b8385;
    list-style: none;
    border-radius: 5px;    
}
.guide-list li, .guide-list a{
    display: inline-block;
}
.guide-list li{
    
}
.guide-list a{
    padding:8px;
    margin: 5px 8px;
    color:#fff;
}
.badge{
    position: absolute;
    top:10px;
    right:20px;
} */
